.register {
    width: 100%;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.register .create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register .material-icons {
    font-size: 50px;
    color: #1D3557;
}

.register h1 {
    color: #1D3557;
    margin: 10px 0px;
}

.register-form {
    box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, .1);
}

.register-form .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 20px;
    position: relative;
}

.fa {
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 999; 
    color: #A8DADC;
}

.fa-lock {
    font-size: 20px;
}

.register-form .input-field input {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border-color:  rgb(0, 0, 0, .2);
    padding-left: 25px;
}


.name {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    width: 100%;
}

.name .input-field input {
    width: 215px;
}

.name .lname {
    margin: 0 20px 0 5px;
}

.name .fname {
    margin: 0 10px 0 20px;
}

.input-field .register-btn {
    width: 450px;
    height: 30px;
    color: white; 
    background-color: #1D3557;
    border: 0;
    box-shadow: 0;
}

