.activity-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.activity-overview .header {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.activity-overview .activity-buttons button{
    margin-left: 10px; 
}





